header {
  background-color: black;
  min-height: 80px;
  width: 100%;
}
#body {
  background-color: #e5e5e5;
}
#footer {
  background-color: black;
  min-height: 100%;
  margin-top: 50px;
  padding: 15px;
  color: aliceblue;
}
.card {
  height: 100%;
}
